html {
	height: 100%;
	margin: 0; /* 브라우저 기본 마진 제거 */
}
body {
	width: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0e0e0;
    color: #ff69b4;
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    color: #ff69b4;
}

p {
    color: #ff69b4;
}

div.main {
	width: 70%;
    height: 1000px;
}

div.sidenav {
	width: 30%;
	float: left;	/* navigation이 좌측에 있을 수 있는 이유 */
	height: 1000px;
	margin-top: 100px;
    background: rgba(255, 105, 180, 0);
}

div.sidenav a {
    color: #ff69b4;
    text-decoration: none;
    margin: 0 10px;
}

div.sidenav a:hover {
    background-color: #ff1493;
    color: #fff;
}

div.sidenav.show {
    left: 0; /* 사이드 내비게이션을 보임 */
}

.menu-button {
    display: none; /* 초기에 메뉴 버튼을 숨김 */
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 768px) {
	/* 모바일용 sidenav style */
	div.sidenav {
		margin-top: 0px;
	    position: fixed;
	    left: -1000px; /* 초기에 메뉴를 숨김 */
	    transition: left 0.3s ease-in-out;
	}
	
	div.main {
		margin: 0 auto;
	}
    
    /* 모바일에서 메뉴 버튼을 표시 */
    .menu-button {
        display: block;
    }
    
    /* 모바일에서 사이드 내비게이션을 보임 */
    .sidenav.show {
		display: block;
        left: 0;
        width: 70%;
        background-color: #e0e0e0;
    }
}

img {
    width: 300px;
    height: 200px;
    border: 1px solid #ff69b4;
    border-radius: 5px;
}

footer {
    background: transparent;
    padding: 10px;
    width: 100%;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p {
	/* position && z-index 페어로 사용 */
	position: relative;
	z-index: 2; /* 큰 값이 위로 오버레이 */
	
    color: #ff69b4;
    margin: 5px 0;
}

/* social-icon style */
.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-right: 1.5rem;
  margin-bottom: 30px;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #bd5d38;
}

/* Waves style */
.waves {
    position: absolute;
    z-index: 1;
    
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
    overflow: hidden;
}

.parallax {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

/* Wave 애니메이션 속도 조절 */
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

.waves svg {
    display: block;
    width: 100%;
    height: 15vh;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
